snippet rc
import React from 'react';

export const $1:React.FC = () => (

);
endsnippet

snippet rcs
import React, { useState } from 'react';

export const $1:React.FC = () => {

	return (

	);
}
endsnippet

snippet rce
import React, { useEffect } from 'react';

export const $1:React.FC = () => {

	return (

	);
}
endsnippet

snippet rcse
import React, { useState, useEffect } from 'react';

export const $1:React.FC = () => {

	return (

	);
}
endsnippet
